body{margin:0;text-align:center;background-color:#f5f6f7}
a{text-decoration:none;color:#8e8e8e}
h3{margin-bottom:10px;font-size:17px}
.login_logo_wrap{display:inline-block;margin-top:70px;height:100px}
.signup_logo_wrap{display:inline-block;margin-top:70px;height:50px}
.logo{border:1px solid gray;}
.login_input , .signup_input , .search_input{width:400px;height:40px;margin-bottom:10px}
.submit_button{margin-top:20px;width:400px;height:50px;background-color:darkcyan;color:white;border-style:none;cursor:pointer;margin-bottom:40px}
.signup_content , .user_content{display:block}
.login_find {border-right:0.5px solid #8e8e8e;font-size:14px;padding-right:10px;color:#8e8e8e}
.signup{font-size: 14px;color:#8e8e8e}
.id_pw_find_header{margin:50px 0}
.id_pw_find_h2{margin-bottom:5px}
